<a href="https://colab.research.google.com/github/WalterLoor1/inteligenciaArtificial/blob/main/lul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as pd

import pandas as pd

print(pd.__version__)

2.0.3

In [ ]:
serieData=pd.Series(data=[100,200,300],index=['Juan','Pedro','Lucas'])
print('/////')
print(serieData)
print(serieData['Pedro'])


print(serieData.index)
print('Pedro' in serieData)

/////
Juan     100
Pedro    200
Lucas    300
dtype: int64
200
Index(['Juan', 'Pedro', 'Lucas'], dtype='object')
True

In [ ]:
myDictionary={'one':pd.Series([100,200,300],index=['Juan','Pedro','Lucas']),'two':pd.Series ([11,22,33],index=['Juan','Pedro','Lucas'])}

#series and dataframe

df=pd.DataFrame(myDictionary)
print(df)
print('we are here ........')
print(df.index)
print(df.columns)


print('///////')
print(df.loc['Juan'])

       one  two
Juan   100   11
Pedro  200   22
Lucas  300   33
we are here ........
Index(['Juan', 'Pedro', 'Lucas'], dtype='object')
Index(['one', 'two'], dtype='object')
///////
one    100
two     11
Name: Juan, dtype: int64