<a href="https://colab.research.google.com/github/WalterLoor1/inteligenciaArtificial/blob/main/Lunes-10-Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
myNumber= 3
myNumberDecimal=3.6
states=True

In [ ]:
print(f'valor entero: {myNumber}')
print(f'valor Decimal: {myNumberDecimal}')
print(f'valor Buleano: {states}')

valor entero: 3
valor Decimal: 3.6
valor Buleano: True

In [ ]:
aux1=10
aux2=2

print("la suma de las variables aux1 + aux2 =",aux1+aux2)
print("la resta de las variables aux1 - aux2 =",aux1-aux2)
print("la multiplicacion de las variables aux1 * aux2 =",aux1*aux2)
print("la division de las variables aux1 / aux2 =",aux1/aux2)
print("la potencia de las variables aux1 ^ aux2 =",aux1**aux2)

la suma de las variables aux1 + aux2 = 12
la resta de las variables aux1 - aux2 = 8
la multiplicacion de las variables aux1 * aux2 = 20
la division de las variables aux1 / aux2 = 5.0
la potencia de las variables aux1 ^ aux2 = 100

In [ ]:
var1= 'Hola'
var2= '!,Walther'

print (var1+var2)

print (var1*3)

Hola!,Walther
HolaHolaHola

In [ ]:
num1= 10
num2= 10.5

In [ ]:
print('The type of the num1 is:',type(num1))
print('The type of the num1 is:',type(num2))

The type of the num1 is: <class 'int'>
The type of the num1 is: <class 'float'>

In [ ]:
#Martes 24 junio 2024
tmp=list()
tmp.append(2)
print(tmp)
tmp.append("Walther")
print(tmp)
tmp.append(2)
tmp.append("Loor")
print(tmp)
print(tmp[3])
aux=tmp[3]
#aux.capitaliza()
print(aux.upper())

tmpl='hello'
print(tmpl.capitalize())


aux1=[1,2,3,4,5,6,7,8,9,10]
print(aux1)

aux1[4]=10
print(aux1)


print(aux1[-1])
print(aux1[3:5])
print(aux1[0:5])
print(aux1[:5])


aux2=list()
for i in range(100):
  aux2.append(i)
print(aux2[:20])



aux3 = list()
for i in range(100):
    aux3.append(i)

pares = [num for num in aux3 if num % 2 == 0]
print(pares)


aux4=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux4.append(aux2[indx])
print(aux4)


aux5=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==1:
    aux5.append(aux2[indx])
print(aux5)


aux6 = list()
for indx, elem in enumerate(aux2):
    if aux2[indx] % 2 == 0:
        aux6.append(aux2[indx] ** 2)

print(aux6)


animals=['gato','perro','mono','conejo']
for animal in animals:
  print(animal)

tmp3=[ i**2 for i in range(10) ]
print(tmp3)

pares = [num for num in tmp3 if num % 2 == 0]
print(pares)

[2]
[2, 'Walther']
[2, 'Walther', 2, 'Loor']
Loor
LOOR
Hello
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 10, 6, 7, 8, 9, 10]
10
[4, 10]
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]
gato
perro
mono
conejo
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'Gato':'Bonito', 'Perro':'Grande'}

print(myDictionary['Gato'])
myDictAux={'monkey':'black','mouse':'small','rabbit':'white'}
myDictionary.update(myDictAux)
print(myDictionary)
for key, value in myDictionary.items():
  print(f'key : {key} Value: {value}')


  myList=[1,2,3,4,5,6]
  myDictAux1={x:x**2 for x in myList}
  print(myDictAux1)

Bonito
{'Gato': 'Bonito', 'Perro': 'Grande', 'monkey': 'black', 'mouse': 'small', 'rabbit': 'white'}
key : Gato Value: Bonito
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : Perro Value: Grande
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : monkey Value: black
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : mouse Value: small
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : rabbit Value: white
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#def suma(var1, var2):
#  tmp=var1+var2
 # return tmp


#num1=3
#num2=7
#print(suma(num1,num2))


def operacion(var1, var2, tipo):
    if tipo == 'suma':
        resultado = var1 + var2
    elif tipo == 'resta':
        resultado = var1 - var2
    else:
        resultado = None  # Manejo de caso no válido

    return resultado

num1 = 3
num2 = 7
tipo_operacion = 'suma'  # Cambia 'suma' por 'resta' si quieres hacer una resta
print(operacion(num1, num2, tipo_operacion))

10

In [ ]:

def determinar_signo_imprimir(elemento):
    if elemento > 0:
        print(f"El elemento {elemento} es positivo.")
    elif elemento < 0:
        print(f"El elemento {elemento} es negativo.")
    else:
        print(f"El elemento {elemento} es cero.")

# Crear la lista con los elementos
lista_elementos = [1, -1, 0]

# Llamar a la función con cada elemento de la lista
for elemento in lista_elementos:
    determinar_signo_imprimir(elemento)

El elemento 1 es positivo.
El elemento -1 es negativo.
El elemento 0 es cero.

In [6]:
#SET AS A CONTAINER

var1=set()
var1.add(3)
print(var1)
var1.add('Walther')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('Walther')
print(var1)
print(len(var1))
print(3 in var1)

for elem in var1:
  print(elem)

{3}
{'Walther', True, 3}
{'Walther', True, 3, 5}
{True, 3, 5}
3
True
True
3
5

In [10]:
#TUPLES
var2 = tuple()

nuevo_elemento = 'Walther'

var2 = var2 + (nuevo_elemento,)

print(var2)

#TUPLES
var2 = tuple()
var=(1,2,3,4,5)
print(type(var))


# Tupla original
var = (1, 2, 3, 4, 5)
print(type(var))
lista_var = list(var)
lista_var.remove(4)
var = tuple(lista_var)
print(var)

('Walther',)
<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 5)

In [27]:
#HOW TO DEFINE A CLASS
class saludo(object):
  def __init__(self,name):
    print("El objeto ha sido creado")
    self.name=name

  def saludoPersonal(self):
    return f"Hola,{self.name}"


name1=saludo('Walther')
name2=saludo('Andres')
name3=saludo('Loor')

print(name1.saludoPersonal())
print(name2.saludoPersonal())
print(name3.saludoPersonal())



import math

class CalculadoraDeAreas:
    def __init__(self):
        print("La calculadora de áreas ha sido creada")

    def area_circulo(self, radio):
        return math.pi * radio ** 2

    def area_triangulo(self, base, altura):
        return (base * altura) / 2


    def area_cuadrado(self, lado):
        return lado ** 2

calculadora = CalculadoraDeAreas()

area_circulo = calculadora.area_circulo(7)
print(f"El área del círculo es: {area_circulo}")
area_triangulo = calculadora.area_triangulo(5, 5)
print(f"El área del triángulo es: {area_triangulo}")
area_cuadrado = calculadora.area_cuadrado(5)
print(f"El área del cuadrado es: {area_cuadrado}")

El objeto ha sido creado
El objeto ha sido creado
El objeto ha sido creado
Hola,Walther
Hola,Andres
Hola,Loor
La calculadora de áreas ha sido creada
El área del círculo es: 153.93804002589985
El área del triángulo es: 12.5
El área del cuadrado es: 25

In [47]:
class Imprimir:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def uppercase(self):
        return f"NOMBRE: {self.name.upper()} Y LA EDAD: {self.age}"

student1 = Imprimir("Walther", 21)

print(student1.uppercase())

NOMBRE: WALTHER Y LA EDAD: 21

In [51]:
class Calculadora:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def sumar(self):
        return self.num1 + self.num2

    def restar(self):
        return self.num1 - self.num2

    def multiplicar(self):
        return self.num1 * self.num2

    def dividir(self):
        if self.num2 != 0:
            return self.num1 / self.num2
        else:
            return "Error: División por cero"

# Ejemplo de uso:
calculadora = Calculadora(10, 5)

print(f"Suma: {calculadora.sumar()}")
print(f"Resta: {calculadora.restar()}")
print(f"Multiplicación: {calculadora.multiplicar()}")
print(f"División: {calculadora.dividir()}")

Suma: 15
Resta: 5
Multiplicación: 50
División: 2.0